
@media only screen and (min-width: 300px) {
   
    .content_hover {
       
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .blob {
        grid-area: content; 
        transform: rotate(-90deg) scale(2);
        width: 100vw;
        height: 100vh;
        z-index: -1;
        position:fixed;
        margin-top: -10rem;
        margin-left: -35rem;
    }
  
  }

.grid_container {
    display: grid;
    grid-template-columns: 5vw 95vw;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: "side header" "side content" "foot foot";
}
  
.foot { 
    grid-area: foot; 
    background-color: white;
    border-top: .3rem solid black;
}
  
.header { 
    grid-area: header; 
    background-color: white;
    /* border-left: .3rem solid black; */
    border-bottom: .3rem solid black;
    flex-direction: row;
    margin-left: -5vw;

}
  
.content {
    grid-area: content;
    /* border-left: .3rem solid black; */
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.content_hover {
    background-color: white;
    width: 60vw;
    height: 80vh;
    display: none;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    
}
.test {
    display: flex;
    flex-direction: row;
    width: 60vw;
    height: 53rem;
}

.text {
    padding: 2rem;
    width: 45rem;
}

.preview_title {
    font-size: 3.6rem;
    margin: 3rem .01rem;
    font-weight: bold;
}

.intro {
    font-size: 2.4rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    font-weight: 500;
}
.uitleg {
    font-size: 2rem;
    line-height: 1.5;
}


.img {
    height: 60rem;
    margin-right: -25rem;
}

.arrow_to {
    transform: rotate(180deg);
    margin-bottom: 2rem;
}




.corner {
    grid-area: side;
    background-color: white;
    z-index: 2;
    border-right: .3rem solid black;

}

/* .blob {
    grid-area: content; 
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position:fixed;
} */

.ul_list {
    padding: 4rem;
    text-align: left;
    width: 35vw;
    /* max-width: 46rem; */
}

.li_link {
    text-decoration: none;
}

.li_list {
    font-family: 'AcuminPro-Regular', sans-serif;
    font-size: 3.2rem;
    text-transform: uppercase;
    color: white;
    width: auto;
    text-align: left;}

.li_list:hover {

    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}


@media only screen and (min-width: 960px) {
   
    .content_hover {
       
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /* .blob {
        grid-area: content; 
        width: 90vw;
        height: 80vh;
        z-index: -1;
        position:fixed;
        margin-left: -35rem;
    } */
  
  }