.grid_container {
    display: grid;
    grid-template-columns: 5vw 95vw;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: "side header" "side content" "foot foot";
}
  
.foot { 
    grid-area: foot; 
    background-color: white;
    border-top: .3rem solid black;
}
  
.header { 
    grid-area: header; 
    background-color: white;
    /* border-left: .3rem solid black; */
    border-bottom: .3rem solid black;
    flex-direction: row;
    margin-left: -5vw;

}
  
.content {
    grid-area: content;
    /* border-left: .3rem solid black; */
    overflow: hidden;
}
  
.corner {
    grid-area: side;
    background-color: white;
    z-index: 2;
    border-right: .3rem solid black;

}

.blob {
    grid-area: content; 
    transform: rotate(-90deg) scale(2);
    width: 90vw;
    height: 80vh;
    z-index: -1;
    position:fixed;

}

.ul_list {
    padding: 4rem;
    text-align: left;
}

.li_link {
    text-decoration: none;
}

.li_list {
    font-family: 'AcuminPro-Regular', sans-serif;
    font-size: 3.2rem;
    text-transform: uppercase;
    color: white;
}

.li_list:hover {

    color: rgb(172, 97, 97);
}