.rocket {
    display: flex;
    flex: content;
    align-items: center;
}

.rocket_center {
    width: 95vw;
    text-align: center;
    font-size: 1.8rem;
}

.explain {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.5;
}