@font-face {
font-family: AcuminPro-Bold;

src: url(../../assets/fonts/Acumin-BdPro.woff) format("woff"), /* Modern Browsers */
    url(../../assets/fonts/Acumin-BdPro.woff2) format("woff2"); /* Modern Browsers */
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: AcuminPro-Regular;

src: url(../../assets/fonts/Acumin-RPro.woff) format("woff"), /* Modern Browsers */
    url(../../assets/fonts/Acumin-RPro.woff2) format("woff2"); /* Modern Browsers */
font-weight: normal;
font-style: normal;
}

@media only screen and (min-width: 375px) {
   
}

.home_content {
}

.content {
    margin: 12rem .01rem .01rem 3rem;
    color: white;
    
}

.hi {
    font-family: 'AcuminPro-Bold', sans-serif;
    letter-spacing: -1px;
    color: white;
    font-size: 6.4rem;
    margin-bottom: 2rem;
}

.name {
    font-family: 'AcuminPro-bold', sans-serif;
    letter-spacing: -1px;
    font-size: 2.4rem;
    margin-bottom: 2rem;

}

.text {
    font-family: 'AcuminPro-Regular', sans-serif;
    letter-spacing: -1px;
    font-size: 2.4rem;
    margin-bottom: 2rem;
}

.arrow_long {
    margin-left: -9rem;
}


p {
    font-family: 'Montserrat', sans-serif;
}

.video {
    overflow: hidden;
    width: 100vw;
    height: 90vh;
}

.blob {
    top:0;
    left:0;
    width:200%; 
    height:100vh;
    margin-left: -45vw;
    transform: rotate(90deg);
    z-index: -1;
    position:fixed; 
    margin-top: -1rem;
}

@media only screen and (min-width: 600px) {
    .blob {
        top:0;
        left:0;
        transform: rotate(0deg);
        height:100vh;
        z-index: -1;
        position:fixed;
    }
}
