.footer {
    grid-area: foot;
    background-color: black;
    font-size: 3.2rem;
    font-family: 'AcuminPro-Bold', sans-serif;
    padding: 1rem;
    color: white;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_wrap {
    width: 90vw;
    max-width: 50rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.youlike {
    font-size: 3.6rem;
    margin-bottom: 2rem;
}


.text {
    font-size: 2.4rem;
    font-weight: 300;
    margin-bottom: 4rem;
}

.button_contactMe{
    letter-spacing: .3rem;
    color: black;
    border: white solid .2rem;
    background-color: white;
    padding: 2rem 3rem 1.5rem 3rem;
    font-size: 2.4rem;
    text-transform: uppercase;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
} 

.button_img {
    height: 2.4rem;
    margin-left: 1rem;
}

.social {
    display: flex;
    flex-direction: row;
    width: 90vw;
    justify-content: space-between;
}
