@import './css/reset.css';
@import './css/vars.css';

p {
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* stylelint-disable */
*,
*:before,
*:after {
  box-sizing: inherit;
}


.open {
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  display: block;
  z-index: 10;
  position: fixed;
}

.closed {
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  display: none;
}
