.grid_container {
  display: grid;
  grid-template-columns: 80vw 20vw;
  grid-template-areas: "header" "hamburger";
}

.nav {
  display: flex;
  flex-direction: row;
}

.nav_click {
  flex-direction: row;
  width: 100vw;
  height: 10vh;
  align-items: center;
}

.hamburger { 
  grid-area: "hamburger";
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: tomato; */
  padding: 1rem;

}

.header {
  grid-area: "header";
  /* background-color: rgb(250, 184, 174); */
  padding: 1rem;
  font-family: 'AcuminPro-Regular', sans-serif;
  font-size: 4.2rem;
  margin-left: 5vw;

}

.arrow_back {
  height: 5rem;
  width: 5rem;
  margin-left: 2rem;
}



/* h1 {
    font-family: 'Emberly-Black', sans-serif;
    font-size: 14.4rem;
    margin-top: -5rem;
    margin-bottom: -2rem;
} */


